---
import Layout from '../../layouts/Layout.astro'
import Jumbotron from '../../components/Jumbotron.astro'
import GameInfo from '../../components/GameInfo.astro'
import Support from '../../components/Support.astro'
import games from '../../data/hry.json'
const currGame = games.find(game => game.codeName === 'kta')
---
<Layout class="game"
    ogTitle="KTA: Krack That Auto!"
    ogUrl="https://www.jerrylabs.cz/hry/kta"
    ogImage="https://www.jerrylabs.cz/images/kta.jpg"
    ogType="website"
    ogDescription="Download and print the card game. Steal cars, dodge cops, crash and shoot your opponents to complete jobs for mafia bosses and rake in the big bucks!"
  >
  <Jumbotron title={currGame.title} className="zoomy" image="kta-game" />
  <div class="container game__panel">
    <div class="game__download">
      <p class="big">
        The game is freely distributable under a <a href="/license/">Creative Commons license</a>.
        ZIP archive (23 MB) contains rules and PDF with cards and tokens. You can download and print the game here or <a href="https://en.firmy.cz/sluzby/nabidka/vyroba-deskove-hry-12865086-174">order the production form us</a>.</p>
      </p>
      <div class="game__download-wrap">
        <a href="/games/kta.zip" class="button button--download">Download</a>
        <a href="https://en.firmy.cz/sluzby/nabidka/vyroba-deskove-hry-12865086-174" class="button button--order">Order</a>
      </div>
      <Support />
    </div>
    <GameInfo game={currGame} />
  </div>
  <section>
    <div class="container">
      <h2>More about the game</h2>
      <p>
        Shootouts, car thefts, car chases with the cops and destruction derbies, you'll experience it all in the this card game Krack That Auto!
      </p>
      <p>
        Krack That Auto! is a probe into the automotive industry and "business" in good old Gangsterburg. Steal cars, dodge cops, crash and shoot your rivals to do deals for mob bosses and rake in the big bucks!
      </p>
      <h2>Acknowledgements</h2>
      <p>
        We would like to thank Rockstar games for inspiration, Béďa for shared experiences from Anywhere City, Vlastič and Jarouš for testing and feedback, Jolanka for motivation and support and everyone else who contributed to the final form of the game.
      </p>
    </div>
  </section>
</Layout>