---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1 class="jumbotron__title">Webový vývoj a herní design</h1>
  </div>
</div>
<main>
  <section>
    <div class="container">
      <h2>Poskytované služby</h2>
      <ul>
        <li>
          Implementace webu na základě vašeho grafického návrhu
        </li>
        <li>
          Optimalizace již existujících webových stránek pro mobilní zařízení
        </li>
        <li>
          Konzultace možných řešení pro váš web tak, aby byl uživatelsky přívětivý
        </li>
        <li>
          Otevřený vývoj se zpětnou vazbou - vždy budete mít přehled o stavu vašeho projektu a možnost úpravy zadání
        </li>
        <li>
          Hosting webu zcela zdarma jako opensource ve službě GitHub
        </li>
        <li>
          Školení administrace a správy webu tak, abyste mohli váš web udržovat vždy aktuální
        </li>
      </ul>
    </div>
  </section>

  <section id="weby" class="blue-bg center">
    <div class="container">
      <h2>Ukázky realizovaných projektů</h2>
      <div class="web-previews">
        {% include web-preview.html title='Advokatni-kancelar-JUDr-Jan-Handlir' text='<b>Advokátní kancelář JUDr. Jan Handlíř</b><br/>Stránky ostravské advokátní kanceláře na platformě Kentico<br/><a href="http://www.pravnikostrava.cz">www.pravnikostrava.cz</a>, 2014' %}
        {% include web-preview.html title='Tezni-vez-Kukla' text='<b>Těžní věž Kukla<br/></b>Stránky <b>Těžní věže Kukla</b> v Oslavanech<br/>Implementace grafického návrhu spolu s vývojem systému pro správu obsahu v PHP na míru<br/><a href="http://www.vezkukla.cz">www.vezkukla.cz</a>, 2013' %}
        {% include web-preview.html title='Chipito' text='<b>Eshop CHipito.cz</b><br/>Redesign e-shopu a vylepšení UX původní šablony systému OpenCart + implementace platební brány<br/><a href="http://www.chipito.cz">CHipito.cz</a>, 2013' %}
        {% include web-preview.html title='Klub-Futra' text='<b>Klub Futra o.p.s.</b><br/>Web nízkoprahového zařízení pro děti a mládež, klubu a čajovny <b>Futra</b> na platformě Kentico<br/><a href="http://www.futra.cz">www.futra.cz</a>, 2013' %}
        {% include web-preview.html title='Slevulak' text='<b>Slevový portál Slevulák.cz</b><br/>Návrh a implementace robustního systému pro komplexní správu veškerého provozu na slevovém serveru byl jedním z nějvětších projektů JerryLabs<br/>demo na<a href="http://www.slevulak.wz.cz">www.slevulak.wz.cz</a>, 2011-2012' %}
        {% include web-preview.html title='Elektro-Energia' text='<b>ENERGIA art and technology s.r.o.</b><br/>Web elektrofirmy se systémem pro správu obsahu JerryLabs Engine v PHP a banner managementem<br/><a href="http://energia.cz/elektro">www.energia.cz/elektro</a>, 2010' %}
        {% include web-preview.html title='Ekocell' text='<b>Ekocell</b><br/>Implementace grafického návrhu a  systému pro správu obsahu na míru s uživatelsky přívětivou administrací víceúrovňového menu<br/>2009' %}
        {% include web-preview.html title='Hudebni-festival-High-ve-Slezsku' text='<b>High ve Slezsku</b><br/>Implementace grafického návrhu, správa a administrace portálu hudebního festivalu <b>Musicart - High ve Slezsku</b><br/>2007-2009' %}
        {% include web-preview.html title='Kapela-Sultan-Soliman' text='<b>Sultán Solimán</b><br/>Implementace grafického návrhu + návrh a implementace fóra na stránkách kapely žánru SKA a reggae<br/><a href="http://ska.energia.cz/sultansoliman">www.ska.energia.cz/sultansoliman</a>, 2007' %}
        {% include web-preview.html title='SKA-ENERGIA-CZ' text='<b>SKA.ENERGIA.CZ</b><br/>Návrh, implementace a správa redakčního systému hudebního a kulturního serveru zaměřeného především na severní Moravu a Slezsko<br/><a href="http://ska.energia.cz">SKA.ENERGIA.CZ</a>, 2006-2009' %}
        {% include web-preview.html title='Fotogalerie-maturitni-8-A' text='<b>Fotogalerie maturitní 8.A</b><br/>Třídní online fotoalbum<br/><a href="http://www.osma-a.wz.cz">www.osma-a.wz.cz</a>, 2005' %}
        {% include web-preview.html title='SKA-WZ-CZ' text='<b>SKA.WZ.CZ</b><br/>Jeden z prvních webu propagující hudební styl SKA na území ČR<br/>2004-2005' %}
      </div>
    </div>
  </section>

  <section id="games" class="center">
    <div class="container">
      <h2 class="nomargin">JerryLabs Games</h2>
      <p>
        Pod značkou JerryLabs jsou rovněž vytvářeny zábavné a nekorektní, kopírovatelné deskové a karetní hry, tzv. "print-to-play". Hry si můžete stáhnout, vytisknout a sami vyrobit. Nic totiž nepotěší Vaše blízké tak, jako ručně vyrobený dárek 😉
      </p>
      <div class="products">
        <a class="product" href="{{ '/cmzc' | relative_url }}">
          <div class="product__wrap1">
            <div class="product__wrap2">
              <h2>Cyborg Mutant Zombie Circus</h2>
              <p>
                Aktuálně testovaná stolní hra, v které se hráči jako uměle vytvořené bytostí snaží překonávat překážky a nástrahy v smrtonosném labyrintu.
              </p>
              <button class="button--primary">Více o hře</button>
            </div>
          </div>
        </a>
        <a class="product" href="{{ '/gangsterburg' | relative_url }}">
          <div class="product__wrap1">
            <div class="product__wrap2">
              <h2>Gangsterburg</h2>
              <p>
                Ovládni jako hlava mafiánské rodiny hospody, kasína a bordely v deskové hře Gangsterburg.
              </p>
              <button class="button--primary">Více o hře</button>
            </div>
          </div>
        </a>
        <a class="product" href="{{ '/supertrooper' | relative_url }}">
          <div class="product__wrap1">
            <div class="product__wrap2">
              <h2>Super Trooper</h2>
              <p>
                Kopírovatelná karetní hra ve stylu fantasy cyberpunk na motivy legendárního Doomtrooperu.
              </p>
              <button class="button--primary">Více o hře</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section id="archiv" class="blue-bg">
    <div class="container">
      <h2>Archiv starších projektů</h2>
      <ul>
        <li>
          <a href="{{ '/ramecek' | relative_url }}">Rámeček</a> - návod na výrobu proxy karet pro karetní hru Magic: The Gathering
        </li>
        <li>
          <a href="{{ '/assets/apps/gilotina-cz.zip' | relative_url }}">Guillotina</a> (7 MB) - originální český překlad revolucionářské karetní hry
        </li>
        <li>
          <a href="{{ '/assets/apps/delphipack.zip' | relative_url }}">Delphi archiv</a> (4 MB) - balíček her naprogramovaných v Delphi v letech 2004-6
        </li>
        <li>
          <a href="{{ '/assets/apps/pascalhry.zip' | relative_url }}">Pascal archiv</a> (145 kB) - balíček her naprogramovaných v Pascalu (aktuálně spustitelných zřejmě už jen přes DosBox)
        </li>
      </ul>
    </div>
  </section>

  <section id="kontakt">
    <div class="container">
      <h2>Kontakt</h2>
      <div class="contact">
        <div class="contact__address">
          <p>
            Ing. Jaroslav Kameň<br />
            Srbská 49, Brno<br />
            IČO 02598248<br />
            tel. 608 552 333<br />
            mail: <a href="mailto:jerrylabs@seznam.cz">jerrylabs@seznam.cz</a>
          </p>
          <p>
            <a class="button--primary" href="https://docs.google.com/forms/d/e/1FAIpQLScsmoXQKKGRzHvJiFbxE4fwICU_ytvjRLFGVsyHyD9aic4Qtg/viewform">Kontaktovat</a>
          </p>
        </div>          
        <ul class="contact__social">
          <li>
            <a href="http://facebook.com/jerrylabs" target="_blank">
              <img alt="Jaroslav Kupčík - Facebook" title="Profil Jaroslava Kameňa na Facebooku" src="{{ 'assets/images/logos/logo-facebook.png' | relative_url }}" />
          </li>
          <li>
            <a href="http://twitter.com/jerrylabs" target="_blank">
              <img alt="JerryLabs @ Twittter" title="JerryLabs @ Twittter" src="{{ 'assets/images/logos/logo-twitter.png' | relative_url }}" />
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jerrylabs" target="_blank">
              <img alt="Jaroslav Kupčík na LinkedIn" title="Jaroslav Kameň na LinkedIn" src="{{ 'assets/images/logos/logo-linkedin.png' | relative_url }}" />
          </li>
          <li>
            <a href="http://instagram.com/jerrousz" target="_blank">
              <img alt="Jerry @ Instagram" title="Jerry @ Instagram" src="{{ 'assets/images/logos/logo-instagram.png' | relative_url }}" />
          </li>
          <li>
            <a href="http://www.imdb.com/name/nm6707588/" target="_blank">
              <img alt="Jaroslav Kupčík na IMDb" title="Jaroslav Kameň na IMDb" src="{{ 'assets/images/logos/logo-imdb.png' | relative_url }}" />
          </li>
          <li>
            <a href="https://jihomoravsky.pirati.cz/lide/jaroslav-kamen" target="_blank">
              <img alt="Jaroslav Kupčík - Česká pirátská strana" title="Jaroslav Kupčík - Česká pirátská strana" src="{{ 'assets/images/logos/logo-cps.png' | relative_url }}" />
          </li>
        </ul>
        <img class="contact__photo" src="{{ '/assets/images/jerry.jpg' | relative_url }}" alt="Jaroslav Kameň" title="Jaroslav Kameň" />
      </div>
    </div>
  </section

</main>
