---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1 class="jumbotron__title">Webový vývoj a herní design</h1>
  </div>
</div>
<main>
  <section>
    <div class="container">
      <h2>Poskytuji služby v těchto oblastech:</h2>
      <ul>
        <li>
          Implementace webu na základě vašeho grafického návrhu
        </li>
        <li>
          Optimalizace existujících webových stránek pro mobilní zařízení
        </li>
        <li>
          Konzultace možností uživatelsky přívětivého webového řešení pro váš projekt
        </li>
        <li>
          Otevřený vývoj se zpětnou vazbou - vždy budete mít přehled o stavu vašeho projektu a možnost úpravy zadání
        </li>
        <li>
          Hosting webu zcela zdarma jako opensource ve službě GitHub
        </li>
        <li>
          Školení administrace a správy webu tak, aby váš web byl vždy aktuální
        </li>
      </ul>
    </div>
  </section>

  <section id="weby" class="blue-bg">
    <div class="container">
      <h2>Ukázky realizovaných projektů</h2>
      {% include web-preview.html title='Advokatni-kancelar-JUDr-Jan-Handlir' text='<b>Advokátní kancelář JUDr. Jan Handlíř</b><br/>Stránky ostravské advokátní kanceláře na platformě Kentico<br/><a href="http://www.pravnikostrava.cz">www.pravnikostrava.cz</a>, 2014' %}
      {% include web-preview.html title='Tezni-vez-Kukla' text='<b>Těžní věž Kukla<br/></b>Stránky <b>Těžní věže Kukla</b> v Oslavanech<br/>Implementace grafického návrhu spolu s vývojem systému pro správu obsahu v PHP na míru<br/><a href="http://www.vezkukla.cz">www.vezkukla.cz</a>, 2013' %}
      {% include web-preview.html title='Chipito' text='<b>Eshop CHipito.cz</b><br/>Redesign e-shopu a vylepšení UX původní šablony systému OpenCart + implementace platební brány<br/><a href="http://www.chipito.cz">CHipito.cz</a>, 2013' %}
      {% include web-preview.html title='Klub-Futra' text='<b>Klub Futra o.p.s.</b>Web nízkoprahového zařízení pro děti a mládež, klubu a čajovny <b>Futra</b> na platformě Kentico<br/><a href="http://www.futra.cz">www.futra.cz</a>, 2013' %}
      {% include web-preview.html title='Slevulak' text='<b>Slevový portál Slevulák.cz</b><br/>Návrh a implementace robustního systému pro komplexní správu veškerého provozu na slevovém serveru byl jedním z nějvětších projektů JerryLabs<br/>demo na<a href="http://www.slevulak.wz.cz">www.slevulak.wz.cz</a>, 2011-2012' %}
      {% include web-preview.html title='Elektro-Energia' text='<b>ENERGIA art and technology s.r.o.</b><br/>Web elektrofirmy se systémem pro správu obsahu JerryLabs Engine v PHP a banner managementem<br/><a href="http://energia.cz/elektro">www.energia.cz/elektro</a>, 2010' %}
      {% include web-preview.html title='Ekocell' text='<b>Ekocell</b><br/>Implementace grafického návrhu a  systému pro správu obsahu na míru s uživatelsky přívětivou administrací víceúrovňového menu<br/>2009' %}
      {% include web-preview.html title='Hudebni-festival-High-ve-Slezsku' text='Implementace grafického návrhu, správa a administrace portálu hudebního festivalu <b>Musicart - High ve Slezsku</b><br/>2007-2009' %}
      {% include web-preview.html title='Kapela-Sultan-Soliman' text='<b>Sultán Solimán</b><br/>Implementace grafického návrhu + návrh a implementace fóra na stránkách kapely žánru SKA a reggae<br/><a href="http://ska.energia.cz/sultansoliman">www.ska.energia.cz/sultansoliman</a>, 2007' %}
      {% include web-preview.html title='SKA-ENERGIA-CZ' text='<b>SKA.ENERGIA.CZ</b><br/>Návrh, implementace a správa redakčního systému hudebního a kulturního serveru zaměřeného především na severní Moravu a Slezsko<br/><a href="http://ska.energia.cz">SKA.ENERGIA.CZ</a>, 2006-2009' %}
      {% include web-preview.html title='Fotogalerie-maturitni-8-A' text='<b>Fotogalerie maturitní 8.A</b><br/>Třídní online fotoalbum<br/><a href="http://www.osma-a.wz.cz">www.osma-a.wz.cz</a>, 2005' %}
      {% include web-preview.html title='SKA-WZ-CZ' text='<b>SKA.WZ.CZ</b><br/>Jeden z prvních webu propagující hudební styl SKA na území ČR<br/>2004-2005' %}
  </section>

  <div class="container">
    <div class="product-category">
      <div class="product-category__wrap1">
        <div class="product-category__wrap2">

           V JerryLabs jsou vytvářeny zábavné a nekorektní, kopírovatelné společenské hry. Vytiskněte si a vyrobte si hru zadarmo, protože nic nepotěší Vaše blízké tak, jako ručně vyrobený dárek &#x263A;
          <ul>
            <li>Cyborg Mutant Zombie Circus - připravujeme</li>
            <li><a class="tracked-download" href="/games/supertrooper.zip">Super Trooper</a> (26 MB)</li>
            <li><a class="tracked-download" href="/games/gangsterburg-komplet.zip" target="_blank">Gangsterburg</a> (7 MB)</li>
          </ul> Hry také překládáme (<a class="tracked-download" href="/games/gilotina-cz.zip">Guillotina</a> (7 MB), Muchkin Hipsters - připravujeme)
        </div>
      </div>
    </div>
    <div class="product-category">
      <div class="product-category__wrap1">
        <div class="product-category__wrap2">
          <h2>Webové stránky</h2> Weby pod hlavičkou JerryLabs vyrábím už od roku 2004. Pokud potřebujete poladit Váš stávající web či vytvořit nový, <a href="kontakt">neváhejte se na mě obrátit</a>.
          <ul>
            <li><a href="http://www.pravnikostrava.cz" target="_blank">Právník Ostrava</a></li>
            <li><a href="http://www.futra.cz" target="_blank">Futra o.s.</a></li>
            <li><a href="http://www.chipito.cz" target="_blank">Chipito</a></li>
            <li><a href="http://www.vezkukla.cz" target="_blank">Věž Kukla</a></li>
            <li><a href="weblab">&mldr;a další</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-category">
      <div class="product-category__wrap1">
        <div class="product-category__wrap2">
          <h2>Aplikace</h2> V JerryLabs vznikají rovněž logické a akční hry a simulátory naprogramované v Pascalu, Delphi, C/C++, PHP, C# a JavaScriptu.
          <ul>
            <li>Fractal Zoom - připravujeme</li>
            <li><a class="tracked-download" href="/apps/kelleher.zip">Corny Kelleher</a></li>
            <li><a class="tracked-download" href="/apps/pozar.zip">Simulace Požáru</a></li>
            <li><a class="tracked-download" href="/apps/ufon3.zip">Ufon 3</a></li>
            <li><a class="tracked-download" href="/apps/tetris.zip">Tetris</a></li>
            <li><a class="tracked-download" href="/apps/pascalhry.zip">Pascal Wresting, Crossroad Simulator, Rotation puzzle, Kolotoč</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
