.button--primary {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #4aa20f;
  border: 1px solid #37760c;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:focus {
    background-color: #37760c;
  }
}
