.button--primary {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #4aa20f;
  border: 1px solid #37760c;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:focus {
    background-color: #37760c;
  }
}
