

.contact-icons {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-icons li {
  float: left;
  height: 40px;
  width: 40px;
  overflow: none;
}

.contact-icons img {
  height: 40px;
  width: 40px;
}
