html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // 1rem ~ 16px
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
  box-sizing: border-box;
  @media (max-width: 800px) {
    font-size: 90%;
  }
  @media (max-width: 600px) {
    font-size: 85%;
  }
  @media (max-width: 400px) {
    font-size: 75%;
  }
}

body {
  font-family: 'Poppins', Verdana, sans-serif;
}

.container {
  max-width: 80rem;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

section {
  padding: 2rem 0;
  outline: none !important;
}

h2 {
  margin: 0 0 1.5rem;
}

ul {
  margin: 0;
}


p {
  max-width: 40rem;
  margin: 0 0 1rem;
  .center & {
    margin: 0 auto 1rem;
  }
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.blue-bg {
  background: rgba(75,0,130,0.2);
}

.center {
  text-align: center;
}

.nomargin {
  margin: 0;
}
