@blueDark:     #00004B;
@blueMidnight: #191970;
@greenDarkest: #004B00;
@greenDarker:  #197019;

@gradientBlue: linear-gradient(@blueDark 0%, @blueMidnight 50%, @blueDark 100%);
@gradientGreen: linear-gradient(@greenDarker 0%, @greenDarkest 50%, @greenDarker 100%);

@breakpointGameDetail: 1000px;