---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <div class="container">
    <section>
      <h1>D캩kujeme!</h1>
      <p>D칤ky v치m m콢쬰me d치le vylep코ovat, roz코i콏ovat a vym칳코let nov칠 hry dostupn칠 pro v코echny! <span role="img" aria-label="Joy">游눘</span></p>
      <p>Kam d치le?</p>
        <ul class="p">
        <li><a href="/weby/"><span>Weby</span></a></li>
        <li><a href="/hry"><span>Hry</span></a></li>
        <li><a href="/kontakt/"><span>Kontakt</span></a></li>
      </ul>
    </section>
  </div>
</Layout>