---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <div class="container">
    <section>
      <h1>P콏isp캩n칤 zru코eno</h1>
      <p>Je n치m l칤to, 쬰 jste si podporu JerryLabs rozmysleli <span role="img" aria-label="Sadness">游땩</span> Ale to nevad칤, i v takov칠m p콏칤pad캩 jsou pro V치s na코e hry k dispozici ke sta쬰n칤 a vytisknut칤 zdarma.</p>
      <p>Kam d치le?</p>
        <ul class="p">
        <li><a href="/weby/"><span>Weby</span></a></li>
        <li><a href="/hry"><span>Hry</span></a></li>
        <li><a href="/kontakt/"><span>Kontakt</span></a></li>
      </ul>
    </section>
  </div>
</Layout>