<footer>
  <div class="container">
    Powered by <a href="https://www.astro.build/" target="_blank" rel="noopener noreferrer" >Astro</a>🚀 and <a href="https://pages.github.com/" target="_blank" rel="noopener noreferrer">GitHub Pages</a> ❤ <span class="nowrap"><span class="copy-left">©</span> JerryLabs 2013-{new Date().getFullYear()}</span>
  </div>
</footer>

<style>
  footer {
    color: white;
    padding: 0.625rem 0;
    background-color: MidnightBlue;
    background-image: linear-gradient(#00004B 0%, #191970 50%, #00004B 100%);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 80%;
  }

  footer .fslightbox-open & { display: none; }
  footer .container { opacity: 0.8; }

  footer a, footer a:hover {
    color: LightCoral;
    text-decoration: none;
  }

  footer a:hover {
    border-bottom: 1px dashed LightCoral;
  }

  .copy-left {
    display: inline-block;
    transform: scaleX(-1);
  }
</style>